<div class="container">
	<div class="row">
		<div class="col-md-12" style="background-color:white;margin-top:20px;">
			<h1 class="text-center"><a href="https://github.com/axelbrethes/webegin" target="_blank">webegin</a></h1>
			<hr>
			<p class="text-center text-muted" style="margin-bottom:20px;"><i>webegin is a framework based on Symfony for help developers to create websites faster.</i></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="background-color:white;margin-top:20px;">
			<h3 class="text-center text-muted">webegin uses</h3>
			<p class="text-center" style="margin-top:20px;margin-bottom:20px;">
				<a href="https://symfony.com/" target="_blank">Symfony 3.0.5</a>
				<br>
				<a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.3.6</a>
				<br>
				<a href="http://fontawesome.io/" target="_blank">Font Awesome 4.5.0</a>
				<br>
				<a href="https://jquery.com/" target="_blank">Jquery 1.12.0</a>
			</p>
		</div>
	</div>
</div>