{# src/AppBundle/Resources/views/base.html.twig #}

{% extends "::base.html.twig" %}

{% block title %} webegin {% endblock %}

{% block stylesheets %} 

	{% stylesheets '@AdminBundle/Resources/public/css/dashboard.css' %}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}

{% endblock %}

{% block javascripts %} {% endblock %}

{% block body %} 
	{% include "AdminBundle::/headers/header_default.html.twig" %}
	<!-- body -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				{% include "AdminBundle::/menus/menu_default.html.twig" %}
			</div>
		</div>
	</div>

{% endblock %}