{% extends "::base.html.twig" %}

{% block title %} webegin {% endblock %}

{% block stylesheets %} {% endblock %}

{% block javascripts %} {% endblock %}

{% block body %} 

<!-- body -->
<div class="container">
	<div class="row">
		<div class="col-md-4">
		
		</div>
		<div class="col-md-4" style="margin-top:20px;background-color:white;">
			<h3 class="text-center">Confirmed</h3>
			<hr>
			{% block fos_user_content %}
			    <p class="text-left">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
			    {% if app.session is not empty %}
			        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
			        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
			    {% endif %}
			{% endblock fos_user_content %}
			<p class="text-center">
				<a href="{{ path('webegin_homepage') }}" class="btn btn-primary" style="margin-bottom:10px;">Go home</a>
			</p>
		</div>
		<div class="col-md-4">
		
		</div>
	</div>
</div>

{% endblock %}