{% extends "AdminBundle::base.html.twig" %}

{% block content %}

<h1 class="text-left page-header">Administration</h1>

<p class="text-left"><i>This pannel is designed to develop your administration interface.</i></p>

{% endblock %}