<div class="row">
	<div class="col-md-12">
		<h3 class="text-left">Your informations</h3>
		<hr>
	</div>
</div>
<div class="fos_user_user_show">
    <p>{{ user.username }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.firstname }} {{ user.lastname }}</p>
</div>