{%
	set table_menu = [
		['admin_homepage', 'Overview', 'fa fa-th'],
		['admin_users_view', 'Users', 'fa fa-users']
	]
%}
{% set current_page = app.request.attributes.get('_route') %}

<ul class="nav nav-sidebar">
  	{% for item in table_menu %}
  		<li class="{% if item[0] == current_page %} active {% endif %}">
  			<a href="{{ path(item[0]) }}"><i class="{{ item[2] }}"></i> {{ item[1] }}</a>
  		</li>
  	{% endfor %}
</ul>